/*	Arvo Bold */

@font-face {
    font-family: Arvo;
    src: url('/fonts/Arvo-Bold/Arvo-Bold.eot?') format('eot'),
        url('/fonts/Arvo-Bold/Arvo-Bold.eot?#iefix') format("embedded-opentype"),
        url('/fonts/Arvo-Bold/Arvo-Bold.woff') format('woff'),
        url('/fonts/Arvo-Bold/Arvo-Bold.ttf') format('truetype'),
        url('/fonts/Arvo-Bold/Arvo-Bold.svg#Arvo-Bold') format('svg');
    font-weight: 700;
}

/*	OpenSans Light */

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Light/OpenSans-Light.eot?') format('eot'),
    url('/fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format("embedded-opentype"),
    url('/fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
    url('/fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'),
    url('/fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans') format('svg');
    font-weight: 300;
}

/*	ProximaNova Light */

@font-face {
    font-family: ProximaNova;
    src: url('/fonts/ProximaNova-Light/ProximaNova-Light.eot?') format('eot'),
    url('/fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format("embedded-opentype"),
    url('/fonts/ProximaNova-Light/ProximaNova-Light.otf') format('opentype'),
    url('/fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
    url('/fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
    url('/fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova') format('svg');
    font-weight: 300;
}

ul, ol {
    padding: 0;
    margin: 0;
}

* {
    outline: 0 !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
    line-height: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: normal;
    color: #000;
    height: 100%;
    background-color: #ffffff;
    font-family: OpenSans;
    font-weight: 300;
}