@import "reset_fonts.css"

.container
    width: 1200px
    max-width: 1200px

main
    display: flex
    flex-direction: column
    height: 100%

.content
    flex: 1 0 auto

.footer_block
    flex: 0 0 auto
    margin-top: 35px

header
    padding: 20px 0

a,
input[type='submit']
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all
    cursor: pointer

.main_title
    font-family: Arvo
    font-weight: 700
    font-size: 48px
    color: #1f1f1f
    padding: 20px 0 10px
    b
        color: #d73232
        text-transform: uppercase

.sub_title
    font-size: 18px
    color: #1f1f1f
    text-align: center
    padding: 30px 0
    line-height: 30px

.main_btn
    display: inline-flex
    font-family: Arvo
    font-weight: 700
    font-size: 16px
    text-transform: uppercase
    color: #1f1f1f
    border: 2px solid #ff4b4b
    background-color: #ffffff
    padding: 10px 22px
    &:hover
        border: 2px solid #ff4b4b
        background-color: #ff4b4b
        color: #ffffff
    &.white
        border: 2px solid #ffffff
        color: #ffffff
        background-color: #ff4b4b
        &:hover
            background-color: #ffffff
            color: #ff4b4b
    &.red
        border: 2px solid #ff4b4b
        color: #ffffff
        background-color: #ff4b4b
        &:hover
            background-color: #ffffff
            color: #ff4b4b

p.title
    position: relative
    text-align: center
    font-family: Arvo
    font-weight: 700
    font-size: 30px
    color: #1f1f1f
    padding: 20px 0
    &:after
        position: absolute
        content: ''
        bottom: 0
        left: 0
        right: 0
        margin: 0 auto
        width: 50px
        height: 5px
        background-color: #ff4b4b

p.no-rows
    font-family: Arvo
    font-weight: 700
    font-size: 20px
    color: red
    text-align: center
    padding: 20px 0

.box-shadow-block
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all

.text
    padding: 15px 0
    text-align: left
    p
        font-family: OpenSans
        font-weight: 300
        font-size: 18px
        color: #1f1f1f
        padding: 10px 0
        line-height: 30px
        svg.currency
            width: 10px
            height: 13px
            fill: #1f1f1f

.captcha
    width: 304px
    height: 74px
    background-color: #000000
    margin: 20px auto

.menu
    display: flex
    justify-content: flex-end
    align-items: center
    a
        font-size: 18px
        color: #1f1f1f
        position: relative
        padding: 29px 57px 29px 0
        &:after
            position: absolute
            content: ''
            bottom: 19px
            left: 0
            width: 0
            height: 5px
            background-color: #ff4b4b
            -webkit-transition: 0.3s all
            -moz-transition: 0.3s all
            -ms-transition: 0.3s all
            -o-transition: 0.3s all
            transition: 0.3s all
        &:hover::after,
        &.active:after
            width: 30%
        &:last-child
            padding-right: 0

.index-top
    background: url('/images/city.svg') center bottom no-repeat
    -webkit-background-size: 1370px 430px
    background-size: 1370px 430px
    position: relative
    .index-top__interactive-bg
        position: relative
        height: 620px
        .index-top__cloud1
            position: absolute
            left: 30%
            width: 131px
            height: 38px
            background: url('/images/cloud1.svg')
        .index-top__cloud2
            position: absolute
            top: 32%
            left: 55%
            width: 131px
            height: 38px
            background: url('/images/cloud1.svg')
        .index-top__cloud3
            position: absolute
            top: 15%
            right: 10%
            width: 131px
            height: 38px
            background: url('/images/cloud1.svg')
        .index-top__train
            position: absolute
            width: 115px
            height: 20px
            bottom: 110px
            right: 0 !important
            background: url('/images/train.svg')
        .index-top__taxi
            position: absolute
            width: 88px
            height: 30px
            bottom: 5px
            left: 100px
            background: url('/images/taxi.svg')
    .index-top__title-block
        position: absolute
        top: 0
        left: 0
        right: 0
        padding: 30px 0 0
        text-align: center
        z-index: 1
        .sub_title
            padding: 10px 0
    .index-top__description
        position: absolute
        display: flex
        flex-direction: column
        width: 540px
        top: 220px
        text-align: center
        right: 0
        z-index: 1
        .index-top__btns
            margin-top: 37px
            .main_btn
                margin-right: 30px
                &:last-child
                    margin-right: 0

.invest-offers
    padding: 40px 0

.plan-item
    margin-top: 40px
    padding: 30px
    display: flex
    flex-direction: column
    align-items: center
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all
    p
        font-family: Arvo
        font-weight: 700
        font-size: 36px
        color: #1f1f1f
        padding-bottom: 9px
    span
        font-size: 18px
        color: #1f1f1f
        padding-bottom: 17px
        svg.currency
            width: 10px
            height: 13px
            fill: #1f1f1f
    img
        width: 170px
        object-fit: cover
    &:hover
        -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
        -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
        box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)

.calc-block
    margin-top: 40px
    padding: 25px 100px
    p.title
        padding-top: 0
    p.sub_title
        padding: 5px 0 0
    .calc
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px 0 5px
        .input_block
            p
                font-size: 18px
                color: #1f1f1f
                padding-bottom: 10px
    &:hover
        -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
        -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
        box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)

input,
textarea,
select
    font-family: Arvo
    font-weight: 700
    font-size: 16px
    text-transform: uppercase
    color: #1f1f1f
    border: 2px solid #ff4b4b
    background-color: #ffffff
    padding: 10px 22px

.about-company
    padding: 100px 0 50px
    .about-company__round
        background: url('/images/round.svg')
        position: absolute
        left: -43%
        margin-top: 150px
        width: 687px
        height: 696px
        -webkit-animation-name: round
        -webkit-animation-duration: 15s
        -webkit-animation-iteration-count: infinite
        -webkit-animation-timing-function: linear
        -moz-animation-name: round
        -moz-animation-duration: 15s
        -moz-animation-iteration-count: infinite
        -moz-animation-timing-function: linear
        @-ms-keyframes round
            from
                -ms-transform: rotate(0deg)
            to
                -ms-transform: rotate(360deg)

        @-moz-keyframes round
            from
                -moz-transform: rotate(0deg)
            to
                -moz-transform: rotate(360deg)

        @-webkit-keyframes round
            from
                -webkit-transform: rotate(0deg)
            to
                -webkit-transform: rotate(360deg)
    .about-company__text-block
        text-align: center
        .text
            p
                text-align: left
    .about-company__pluses-block
        display: flex
        justify-content: space-between
        padding-top: 40px
        .about-company__plus-item
            width: 270px
            display: inline-flex
            flex-direction: column
            align-items: center
            text-align: center
            .about-company__plus-item_img-block
                width: 70px
                height: 70px
                display: inline-flex
                align-items: center
                justify-content: center
                img
                    max-width: 100%
                    -o-object-fit: cover
                    object-fit: cover
            p
                font-family: Arvo
                font-weight: 700
                font-size: 24px
                color: #1f1f1f
                padding: 25px 0
            span
                font-size: 18px
                line-height: 30px
                color: #1f1f1f

.statistics
    padding: 70px 0 35px
    position: relative
    background-color: #ffffff
    z-index: 1
    .statistics__stat-items-block
        padding: 40px 0
        display: flex
        justify-content: center
        .statistics__stat-item
            width: 370px
            margin-right: 30px
            display: inline-flex
            flex-direction: column
            align-items: center
            text-align: center
            .statistics__stat-item_img-block
                width: 100px
                height: auto
                display: inline-flex
                align-items: center
                justify-content: center
                img
                    max-width: 100%
                    -o-object-fit: cover
                    object-fit: cover
            p
                font-size: 18px
                color: #1f1f1f
                padding: 10px 0 30px
            span
                font-family: Arvo
                font-weight: 700
                font-size: 24px
                color: #1f1f1f
                svg
                    width: 14px
                    height: 18px
                    fill: #1f1f1f
            &:nth-child(3n)
                margin-right: 0
    .statistics__stat-tables-block
        display: flex
        justify-content: space-between
        padding: 20px 0 0
        .statistics__stat-table-item
            width: 570px
            padding: 30px
            display: flex
            flex-direction: column
            -webkit-transition: 0.3s all
            -moz-transition: 0.3s all
            -ms-transition: 0.3s all
            -o-transition: 0.3s all
            transition: 0.3s all
            p
                text-align: center
                font-size: 24px
                font-family: Arvo
                font-weight: 700
                color: #1f1f1f
                margin-bottom: 25px
            .stat-table-item
                display: flex
                justify-content: space-between
                align-items: center
                margin: 10px 0
                span
                    font-size: 18px
                    color: #1f1f1f
                p
                    width: 270px
                    padding-right: 10px
                    background-color: #ff4b4b
                    display: inline-flex
                    justify-content: space-between
                    align-items: center
                    margin-bottom: 0
                    svg
                        width: 100px
                        height: 40px
                        fill: #ffffff
                    b
                        font-family: OpenSans
                        font-weight: 300
                        font-size: 18px
                        color: #ffffff
                        padding: 13px 0
                        svg.currency
                            width: 14px
                            height: 13px
                            fill: #ffffff
            &:hover
                -webkit-box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.2)
                -moz-box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.2)
                box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.2)

.payment-systems
    background-color: #d73232
    padding: 20px 0
    .payment-systems__list
        display: flex
        justify-content: center
        flex-wrap: wrap
        padding: 28px 0
        a
            margin: 0 15px
            svg
                width: 160px
                height: 50px
                fill: #ffffff
p.copyright
    font-family: ProximaNova
    font-weight: 300
    font-size: 18px
    color: #1f1f1f
    line-height: 30px
    text-align: center
    padding: 50px 0

.top
    padding: 0
    //overflow-x: hidden
    .top__text-block
        padding: 145px 0
        .sub_title
            padding: 5px 0 30px
            text-align: left
        .top__btns
            .main_btn:first-child
                margin-right: 30px
    .top__animated-img
        position: relative
        .road
            background: url('/images/bg_about.png')
            width: 279px
            height: 616px
            right: 0
            position: absolute
        .gears
            background: url('/images/mecha.png')
            width: 393px
            height: 393px
            top: 113px
            right: 83px
            position: absolute
            -webkit-animation-name: round1
            -webkit-animation-duration: 15s
            -webkit-animation-iteration-count: infinite
            -webkit-animation-timing-function: linear
            -moz-animation-name: round1
            -moz-animation-duration: 15s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: linear
        @keyframes round1
            from
                transform: rotate(0deg)
            to
                transform: rotate(-360deg)

        @-ms-keyframes round1
            from
                -ms-transform: rotate(0deg)
            to
                -ms-transform: rotate(-360deg)

        @-moz-keyframes round1
            from
                -moz-transform: rotate(0deg)
            to
                -moz-transform: rotate(-360deg)

        @-webkit-keyframes round1
            from
                -webkit-transform: rotate(0deg)
            to
                -webkit-transform: rotate(-360deg)

        @keyframes round1
            from
                transform: rotate(0deg)
            to
                transform: rotate(-360deg)
        .globus
            background: url('/images/globus.png')
            width: 358px
            height: 344px
            top: 113px
            right: 83px
            position: absolute
        .lamp
            background: url('/images/bg_mark.png')
            width: 187px
            height: 295px
            right: 175px
            top: 180px
            position: absolute
        .light1
            width: 32px
            height: 49px
            position: absolute
            left: 180px
            top: 140px
            background: url('/images/light1.png')
            animation-name: floating2
            -webkit-animation-name: floating2
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-name: floating2
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating2
            0%
                transform: translate(0%, 0%)
            50%
                transform: translate(15px, 15px)
            100%
                transform: translateY(0%)

        @-webkit-keyframes floating2
            0%
                -webkit-transform: translate(0%, 0%)
            50%
                -webkit-transform: translate(15px, 15px)
            100%
                -webkit-transform: translateY(0%)
        .light2
            width: 32px
            height: 49px
            position: absolute
            right: 145px
            top: 140px
            background: url('/images/light2.png')
            animation-name: floating3
            -webkit-animation-name: floating3
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-name: floating3
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating3
            0%
                transform: translate(0%, 0%)
            50%
                transform: translate(-15px, 15px)
            100%
                transform: translate(0%, 0%)

        @-webkit-keyframes floating3
            0%
                -webkit-transform: translate(0%, 0%)
            50%
                -webkit-transform: translate(-15px, 15px)
            100%
                -webkit-transform: translateY(0%)
        .light3
            width: 53px
            height: 22px
            position: absolute
            right: 385px
            top: 236px
            background: url('/images/light3.png')
            animation-name: floating4
            -webkit-animation-name: floating4
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-name: floating4
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating4
            0%
                transform: translateX(0%)
            50%
                transform: translateX(15px)
            100%
                transform: translateX(0%)

        @-webkit-keyframes floating4
            0%
                -webkit-transform: translateX(0%)
            50%
                -webkit-transform: translateX(15px)
            100%
                -webkit-transform: translateX(0%)
        .light4
            width: 49px
            height: 22px
            position: absolute
            right: 100px
            top: 236px
            background: url('/images/light4.png')
            animation-name: floating5
            -webkit-animation-name: floating5
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-name: floating5
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating5
            0%
                transform: translateX(0%)
            50%
                transform: translateX(-15px)
            100%
                transform: translateX(0%)

        @-webkit-keyframes floating5
            0%
                -webkit-transform: translateX(0%)
            50%
                -webkit-transform: translateX(-15px)
            100%
                -webkit-transform: translateX(0%)
        .light5
            width: 46px
            height: 35px
            position: absolute
            right: 120px
            top: 315px
            background: url('/images/light5.png')
            animation-name: floating6
            -webkit-animation-name: floating6
            -moz-animation-name: floating6
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating6
            0%
                transform: translate(0%, 0%)
            50%
                transform: translate(-10px, -15px)
            100%
                transform: translate(0%, 0%)

        @-webkit-keyframes floating6
            0%
                -webkit-transform: translate(0%, 0%)
            50%
                -webkit-transform: translate(-10px, -15px)
            100%
                -webkit-transform: translate(0%, 0%)
        .light6
            width: 46px
            height: 35px
            position: absolute
            left: 155px
            top: 315px
            background: url('/images/light6.png')
            animation-name: floating7
            -webkit-animation-name: floating7
            -moz-animation-name: floating7
            animation-timing-function: ease
            -moz-animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating7
            0%
                transform: translate(0%, 0%)
            50%
                transform: translate(10px, -15px)
            100%
                transform: translate(0%, 0%)

        @-webkit-keyframes floating7
            0%
                -webkit-transform: translate(0%, 0%)
            50%
                -webkit-transform: translate(10px, -15px)
            100%
                -webkit-transform: translateY(0%)
        .m_cloud1
            width: 91px
            height: 87px
            background: url('/images/m_cloud1.png')
            right: -40px
            top: 250px
            position: absolute
            animation-name: floating
            -webkit-animation-name: floating
            -moz-animation-name: floating
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        .m_cloud2
            width: 87px
            height: 42px
            background: url('/images/m_cloud2.png')
            right: 400px
            top: 390px
            position: absolute
            animation-delay: 1s
            animation-name: floating
            -webkit-animation-name: floating
            -moz-animation-name: floating
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        .m_cloud3
            width: 74px
            height: 40px
            background: url('/images/m_cloud3.png')
            right: 236px
            top: 90px
            animation-name: floating
            -webkit-animation-name: floating
            -moz-animation-name: floating
            -moz-animation-duration: 2.5s
            -moz-animation-iteration-count: infinite
            -moz-animation-timing-function: ease
            position: absolute
            animation-delay: 0.5s
            animation-timing-function: ease
            animation-duration: 2.5s
            -webkit-animation-duration: 2.5s
            animation-iteration-count: infinite
            -webkit-animation-iteration-count: infinite
        @keyframes floating
            0%
                transform: translateY(0%)
            50%
                transform: translateY(10px)
            100%
                transform: translateY(0%)

        @-webkit-keyframes floating
            0%
                -webkit-transform: translateY(0%)
            50%
                -webkit-transform: translateY(8%)
            100%
                -webkit-transform: translateY(0%)

.ref-program
    padding: 40px 0 45px
    .ref-program__img-block
        width: 470px
        height: 250px
        img
            width: 100%
            height: 100%
            -o-object-fit: cover
            object-fit: cover
    .ref-program__text-block
        padding: 0
        display: flex
        flex-direction: column
        align-items: center
        .percents
            display: flex
            justify-content: center
            align-items: center
            span
                font-family: Arvo
                font-weight: 700
                font-size: 60px
                color: #1f1f1f
                padding: 0 40px

.page
    padding: 40px 0 20px
    p.main_title
        text-align: center

.reviews
    .reviews_reviews-items-block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        padding-top: 25px
        .reviews_reviews-item
            width: 570px
            display: flex
            flex-direction: column
            margin-right: 30px
            .reviews_reviews-item-header
                display: inline-flex
                align-items: center
                img
                    width: 70px
                    height: 70px
                    margin-right: 30px
                span
                    font-family: Arvo
                    font-weight: 700
                    font-size: 22px
                    color: #1f1f1f
            p
                font-size: 18px
                color: #1f1f1f
                line-height: 30px
                padding-left: 100px
            &:nth-child(2n)
                margin-right: 0
    .reviews__form
        padding: 0 55px 30px
        text-align: center
        margin: 40px 0
        textarea
            width: 100%
            text-transform: none
            height: 200px
            margin: 30px 0

.support
    .support__text-block
        margin: 60px 0 25px
        img
            width: 525px
            height: auto
            -o-object-fit: cover
            object-fit: cover
        .support__social
            display: flex
            a
                display: inline-flex
                margin-right: 30px
                opacity: 0.7
                svg
                    width: 30px
                    height: 30px
                    fill: #d73232
                &:last-child
                    margin-right: 0
                &:hover
                    opacity: 1
    .support__form
        padding: 30px 70px 40px
        margin: 60px 0 25px
        text-align: center
        .support__input-block
            text-align: left
            p
                font-size: 18px
                color: #1f1f1f
                padding: 20px 0
            input
                width: 100%
            textarea
                height: 80px
                width: 100%

.login
    padding: 0 0 10px
    .login__form
        padding: 30px 70px 40px
        margin: 60px auto 25px
        text-align: center
        width: 450px
        .login__input-block
            text-align: left
            p
                font-size: 18px
                color: #1f1f1f
                padding: 20px 0
            input
                width: 100%
            input[type='checkbox']
                width: 13px
                height: 13px
                margin: 0 10px 0 0
            label
                margin: 0 0 20px 0
                display: flex
                justify-content: center
                align-items: center
                span
                    font-size: 16px
                a
                    font-size: 16px
                    color: #d73232
                    position: relative
                    padding: 5px 0 5px
                    margin-left: 7px
                    &:after
                        position: absolute
                        content: ''
                        left: 0
                        bottom: 0
                        width: 100%
                        height: 1px
                        background-color: #d73232
                    &:hover
                        opacity: 0.7
        .login__btns
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 20px
            a
                font-size: 18px
                color: #d73232
                position: relative
                padding: 5px 0
                &:after
                    position: absolute
                    content: ''
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 1px
                    background-color: #d73232
                &:hover
                    opacity: 0.7

.user-header
    background-color: #ff4b4b
    .menu
        a
            color: #ffffff
            &:after
                background-color: #ffffff
    .user-header__user-info
        display: flex
        margin: 35px 0 0
        .user-header__user-img
            img
                width: 70px
                height: 70px
        .user-header__user-text
            display: inline-flex
            flex-direction: column
            justify-content: space-between
            margin-left: 30px
            p
                font-family: Arvo
                font-weight: 700
                font-size: 16px
                color: #ffffff
            .main_btn
                align-self: flex-start

.content.user
    background-color: #f2f2f2

.inner-page
    display: flex
    justify-content: space-between
    .inner-page__left-menu
        width: 300px
        display: flex
        flex-direction: column
        position: relative
        z-index: 0
        margin-top: 55px
        a
            background-color: transparent
            position: relative
            z-index: 0
            &:after
                position: absolute
                content: ''
                top: 0
                right: 0
                width: 0
                height: 100%
                z-index: 1
                background-color: #ff4b4b
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
            &:hover::after,
            &.active:after
                width: 100%
            b
                font-family: Arvo
                font-weight: 700
                font-size: 18px
                color: #1f1f1f
                position: relative
                z-index: 2
                padding: 14px 15px
                display: flex
                -webkit-transition: 0.5s all
                -moz-transition: 0.5s all
                -ms-transition: 0.5s all
                -o-transition: 0.5s all
                transition: 0.5s all
                &:hover
                    color: #ffffff
            &.active
                b
                    color: #ffffff
    .inner-page__right-side
        width: 870px
        .inner-page__right-side_one-block
            background-color: #ffffff
            padding: 5px 70px 40px
            margin: 40px 0
            &:hover
                -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
                -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
                box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2)
            &:first-child
                margin-top: -105px
                min-height: 530px
        .profile-statistics-block
            .profile-stat
                display: flex
                justify-content: space-between
                padding: 25px 0
                .profile-stat-item
                    display: inline-flex
                    flex-direction: column
                    align-items: center
                    .profile-stat-item_img
                        width: 70px
                        height: 70px
                        img
                            width: 100%
                            height: 100%
                            -o-object-fit: cover
                            object-fit: cover
                    p
                        font-family: Arvo
                        font-weight: 700
                        font-size: 24px
                        color: #1f1f1f
                        padding: 7px 0
                        svg
                            width: 14px
                            height: 18px
                            fill: #1f1f1f
                    span
                        font-size: 16px
                        color: #1f1f1f
                        text-transform: uppercase
        .ref
            padding: 15px 0 0
            .profile-ref-block
                padding: 20px 30px 0
                .profile-ref-block_ref-info
                    display: flex
                    justify-content: space-between
                    padding: 10px 0
                    .ref-link
                        display: inline-flex
                        flex-direction: column
                        justify-content: space-between
                        width: 60%
                        &:last-child
                            width: 40%
                        p
                            font-size: 16px
                            color: #1f1f1f
                            padding: 0 0 15px 0
                        input
                            font-size: 18px
                            color: #1f1f1f
                            padding: 7px 10px
                            background-color: #f2f2f2
                            border: 0
                            text-transform: none
                            font-family: OpenSans
                            font-weight: 300
                            width: 90%
                        b
                            font-family: Arvo
                            font-weight: 700
                            font-size: 24px
                            color: #1f1f1f
                            svg.currency
                                width: 15px
                                height: 18px
                                fill: #1f1f1f
        .pay-req
            .pay-req__items
                padding: 20px 0 0
                .pay-req__item
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin: 7px 0
                    &:last-child
                        margin-bottom: 0
                    .svg-block
                        width: 300px
                        text-align: center
                        svg
                            width: 140px
                            height: 50px
                    b
                        font-size: 18px
                        color: #1f1f1f
                        padding: 7px 10px
                        background-color: #f2f2f2
                        width: 450px
        .plan-calc
            &__block
                display: flex
                flex-direction: column
            &__plan-info
                display: flex
                justify-content: center
                padding: 40px 0
            &__plan-info_img
                width: 170px
                height: 112px
                margin-right: 30px
                img
                    width: 100%
                    height: auto
                    -o-object-fit: cover
                    object-fit: cover
            &__plan-info_text
                display: inline-flex
                flex-direction: column
                align-items: center
                p
                    font-family: Arvo
                    font-weight: 700
                    font-size: 36px
                    color: #1f1f1f
                span
                    font-size: 18px
                    color: #1f1f1f
                    line-height: 30px
                    svg.currency
                        width: 11px
                        height: 14px
                        fill: #1f1f1f
            &__inputs
                display: flex
                justify-content: center
                padding: 35px 0
                .input_block
                    p
                        font-size: 18px
                        color: #1f1f1f
                        line-height: 30px
                        padding-bottom: 15px
                    &:first-child
                        margin-right: 30px
            &__invest
                display: flex
                justify-content: space-between
                align-items: flex-end
                padding: 30px 0 0
                .input_block
                    p
                        font-size: 18px
                        color: #1f1f1f
                        line-height: 30px
                        padding-bottom: 15px
                    select
                        width: 100%

        .history
            &-table
                padding: 20px 0 0
                .history-table__tr
                    display: flex
                    justify-content: space-between
                    align-items: center
                    &.no_rows
                        justify-content: center
                        font-size: 16px
                        color: red
                        padding: 15px 0
                    &.referals
                        justify-content: center
                        font-size: 16px
                        color: #1f1f1f
                        padding: 5px 0
                        margin: 10px 0
                        background-color: #f3efef
                .history-table__td
                    width: 130px
                    padding: 6px 0
                    p
                        font-family: Arvo
                        font-weight: 700
                        font-size: 18px
                        color: #1f1f1f
                        text-align: center
                    span
                        font-size: 16px
                        color: #1f1f1f
                        text-align: center
                        display: block
                        svg.currency
                            width: 10px
                            height: 12px
                            fill: #1f1f1f
                    svg
                        width: 130px
                        height: 40px
            .show-more_lower-btn
                display: flex
                justify-content: center
                margin-top: 30px
            .history-reinvest
                display: flex
                justify-content: space-between
                align-items: flex-end
                flex-wrap: wrap
                padding: 30px 0
                .input_block
                    width: 48%
                    select,
                    input
                        width: 100%
                    input[type='submit']
                        width: auto
                    p
                        font-size: 18px
                        color: #1f1f1f
                        line-height: 30px
                        padding-bottom: 15px
                    &:nth-child(1),
                    &:nth-child(2)
                        margin-bottom: 15px

        .payment
            &__form
                display: flex
                justify-content: space-between
                align-items: flex-end
                padding: 30px 0 0
                .input_block
                    width: 260px
                    select,
                    input
                        width: 100%
                    input[type='submit']
                        width: auto
                    p
                        font-size: 18px
                        color: #1f1f1f
                        line-height: 30px
                        padding-bottom: 15px
                        margin-right: 30px

        .referal-program
            .referal-program__stat
                display: flex
                justify-content: space-between
                padding: 40px 0 0
                .referal-program__stat-item
                    display: inline-flex
                    flex-direction: column
                    width: 150px
                    span
                        font-size: 16px
                        color: #1f1f1f
                        padding-bottom: 15px
                    p
                        font-family: Arvo
                        font-weight: 700
                        font-size: 28px
                        color: #1f1f1f
                        svg.currency
                            width: 17px
                            height: 22px
                            fill: #1f1f1f

        .banners
            text-align: center
            &-block
                margin: 40px auto 0

        .settings
            width: 470px
            margin: 0 auto
            &__personal-block
                display: flex
                flex-direction: column
                padding: 30px 0 0
                .input_block
                    padding-bottom: 15px
                    input
                        width: 100%
                    input[type='submit']
                        width: auto
                        margin: 30px auto 0
                    &:last-child
                        text-align: center
                    p
                        font-size: 18px
                        color: #1f1f1f
                        line-height: 30px
                        padding-bottom: 15px
                        margin-right: 30px
            &-ps
                .settings-ps__block
                    display: flex
                    flex-direction: column
                    padding: 25px 0 0
                    .input_block
                        margin: 15px 0
                        display: flex
                        align-items: center
                        .img_block
                            background-color: #ff4b4b
                            display: inline-flex
                            align-items: center
                            justify-content: center
                            padding: 6.5px 0
                            svg
                                width: 100px
                                height: 30px
                                fill: #ffffff
                        input
                            width: 100%
                        input[type='submit']
                            width: auto
                            margin: 30px auto 0

















