@import url(reset_fonts.css);
.container {
  width: 1200px;
  max-width: 1200px; }

main {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.footer_block {
  flex: 0 0 auto;
  margin-top: 35px; }

header {
  padding: 20px 0; }

a,
input[type='submit'] {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer; }

.main_title {
  font-family: Arvo;
  font-weight: 700;
  font-size: 48px;
  color: #1f1f1f;
  padding: 20px 0 10px; }
  .main_title b {
    color: #d73232;
    text-transform: uppercase; }

.sub_title {
  font-size: 18px;
  color: #1f1f1f;
  text-align: center;
  padding: 30px 0;
  line-height: 30px; }

.main_btn {
  display: inline-flex;
  font-family: Arvo;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1f1f1f;
  border: 2px solid #ff4b4b;
  background-color: #ffffff;
  padding: 10px 22px; }
  .main_btn:hover {
    border: 2px solid #ff4b4b;
    background-color: #ff4b4b;
    color: #ffffff; }
  .main_btn.white {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #ff4b4b; }
    .main_btn.white:hover {
      background-color: #ffffff;
      color: #ff4b4b; }
  .main_btn.red {
    border: 2px solid #ff4b4b;
    color: #ffffff;
    background-color: #ff4b4b; }
    .main_btn.red:hover {
      background-color: #ffffff;
      color: #ff4b4b; }

p.title {
  position: relative;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  font-size: 30px;
  color: #1f1f1f;
  padding: 20px 0; }
  p.title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 5px;
    background-color: #ff4b4b; }

p.no-rows {
  font-family: Arvo;
  font-weight: 700;
  font-size: 20px;
  color: red;
  text-align: center;
  padding: 20px 0; }

.box-shadow-block {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.text {
  padding: 15px 0;
  text-align: left; }
  .text p {
    font-family: OpenSans;
    font-weight: 300;
    font-size: 18px;
    color: #1f1f1f;
    padding: 10px 0;
    line-height: 30px; }
    .text p svg.currency {
      width: 10px;
      height: 13px;
      fill: #1f1f1f; }

.captcha {
  width: 304px;
  height: 74px;
  background-color: #000000;
  margin: 20px auto; }

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .menu a {
    font-size: 18px;
    color: #1f1f1f;
    position: relative;
    padding: 29px 57px 29px 0; }
    .menu a:after {
      position: absolute;
      content: "";
      bottom: 19px;
      left: 0;
      width: 0;
      height: 5px;
      background-color: #ff4b4b;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
    .menu a:hover::after, .menu a.active:after {
      width: 30%; }
    .menu a:last-child {
      padding-right: 0; }

.index-top {
  background: url("/images/city.svg") center bottom no-repeat;
  -webkit-background-size: 1370px 430px;
  background-size: 1370px 430px;
  position: relative; }
  .index-top .index-top__interactive-bg {
    position: relative;
    height: 620px; }
    .index-top .index-top__interactive-bg .index-top__cloud1 {
      position: absolute;
      left: 30%;
      width: 131px;
      height: 38px;
      background: url("/images/cloud1.svg"); }
    .index-top .index-top__interactive-bg .index-top__cloud2 {
      position: absolute;
      top: 32%;
      left: 55%;
      width: 131px;
      height: 38px;
      background: url("/images/cloud1.svg"); }
    .index-top .index-top__interactive-bg .index-top__cloud3 {
      position: absolute;
      top: 15%;
      right: 10%;
      width: 131px;
      height: 38px;
      background: url("/images/cloud1.svg"); }
    .index-top .index-top__interactive-bg .index-top__train {
      position: absolute;
      width: 115px;
      height: 20px;
      bottom: 110px;
      right: 0 !important;
      background: url("/images/train.svg"); }
    .index-top .index-top__interactive-bg .index-top__taxi {
      position: absolute;
      width: 88px;
      height: 30px;
      bottom: 5px;
      left: 100px;
      background: url("/images/taxi.svg"); }
  .index-top .index-top__title-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0 0;
    text-align: center;
    z-index: 1; }
    .index-top .index-top__title-block .sub_title {
      padding: 10px 0; }
  .index-top .index-top__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 540px;
    top: 220px;
    text-align: center;
    right: 0;
    z-index: 1; }
    .index-top .index-top__description .index-top__btns {
      margin-top: 37px; }
      .index-top .index-top__description .index-top__btns .main_btn {
        margin-right: 30px; }
        .index-top .index-top__description .index-top__btns .main_btn:last-child {
          margin-right: 0; }

.invest-offers {
  padding: 40px 0; }

.plan-item {
  margin-top: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .plan-item p {
    font-family: Arvo;
    font-weight: 700;
    font-size: 36px;
    color: #1f1f1f;
    padding-bottom: 9px; }
  .plan-item span {
    font-size: 18px;
    color: #1f1f1f;
    padding-bottom: 17px; }
    .plan-item span svg.currency {
      width: 10px;
      height: 13px;
      fill: #1f1f1f; }
  .plan-item img {
    width: 170px;
    object-fit: cover; }
  .plan-item:hover {
    -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2); }

.calc-block {
  margin-top: 40px;
  padding: 25px 100px; }
  .calc-block p.title {
    padding-top: 0; }
  .calc-block p.sub_title {
    padding: 5px 0 0; }
  .calc-block .calc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 5px; }
    .calc-block .calc .input_block p {
      font-size: 18px;
      color: #1f1f1f;
      padding-bottom: 10px; }
  .calc-block:hover {
    -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2); }

input,
textarea,
select {
  font-family: Arvo;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1f1f1f;
  border: 2px solid #ff4b4b;
  background-color: #ffffff;
  padding: 10px 22px; }

.about-company {
  padding: 100px 0 50px; }
  .about-company .about-company__round {
    background: url("/images/round.svg");
    position: absolute;
    left: -43%;
    margin-top: 150px;
    width: 687px;
    height: 696px;
    -webkit-animation-name: round;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: round;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear; }
@-ms-keyframes round {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes round {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes round {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
  .about-company .about-company__text-block {
    text-align: center; }
    .about-company .about-company__text-block .text p {
      text-align: left; }
  .about-company .about-company__pluses-block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    .about-company .about-company__pluses-block .about-company__plus-item {
      width: 270px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .about-company .about-company__pluses-block .about-company__plus-item .about-company__plus-item_img-block {
        width: 70px;
        height: 70px;
        display: inline-flex;
        align-items: center;
        justify-content: center; }
        .about-company .about-company__pluses-block .about-company__plus-item .about-company__plus-item_img-block img {
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
      .about-company .about-company__pluses-block .about-company__plus-item p {
        font-family: Arvo;
        font-weight: 700;
        font-size: 24px;
        color: #1f1f1f;
        padding: 25px 0; }
      .about-company .about-company__pluses-block .about-company__plus-item span {
        font-size: 18px;
        line-height: 30px;
        color: #1f1f1f; }

.statistics {
  padding: 70px 0 35px;
  position: relative;
  background-color: #ffffff;
  z-index: 1; }
  .statistics .statistics__stat-items-block {
    padding: 40px 0;
    display: flex;
    justify-content: center; }
    .statistics .statistics__stat-items-block .statistics__stat-item {
      width: 370px;
      margin-right: 30px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .statistics .statistics__stat-items-block .statistics__stat-item .statistics__stat-item_img-block {
        width: 100px;
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center; }
        .statistics .statistics__stat-items-block .statistics__stat-item .statistics__stat-item_img-block img {
          max-width: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
      .statistics .statistics__stat-items-block .statistics__stat-item p {
        font-size: 18px;
        color: #1f1f1f;
        padding: 10px 0 30px; }
      .statistics .statistics__stat-items-block .statistics__stat-item span {
        font-family: Arvo;
        font-weight: 700;
        font-size: 24px;
        color: #1f1f1f; }
        .statistics .statistics__stat-items-block .statistics__stat-item span svg {
          width: 14px;
          height: 18px;
          fill: #1f1f1f; }
      .statistics .statistics__stat-items-block .statistics__stat-item:nth-child(3n) {
        margin-right: 0; }
  .statistics .statistics__stat-tables-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0; }
    .statistics .statistics__stat-tables-block .statistics__stat-table-item {
      width: 570px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .statistics .statistics__stat-tables-block .statistics__stat-table-item p {
        text-align: center;
        font-size: 24px;
        font-family: Arvo;
        font-weight: 700;
        color: #1f1f1f;
        margin-bottom: 25px; }
      .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0; }
        .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item span {
          font-size: 18px;
          color: #1f1f1f; }
        .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item p {
          width: 270px;
          padding-right: 10px;
          background-color: #ff4b4b;
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0; }
          .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item p svg {
            width: 100px;
            height: 40px;
            fill: #ffffff; }
          .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item p b {
            font-family: OpenSans;
            font-weight: 300;
            font-size: 18px;
            color: #ffffff;
            padding: 13px 0; }
            .statistics .statistics__stat-tables-block .statistics__stat-table-item .stat-table-item p b svg.currency {
              width: 14px;
              height: 13px;
              fill: #ffffff; }
      .statistics .statistics__stat-tables-block .statistics__stat-table-item:hover {
        -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2); }

.payment-systems {
  background-color: #d73232;
  padding: 20px 0; }
  .payment-systems .payment-systems__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 28px 0; }
    .payment-systems .payment-systems__list a {
      margin: 0 15px; }
      .payment-systems .payment-systems__list a svg {
        width: 160px;
        height: 50px;
        fill: #ffffff; }

p.copyright {
  font-family: ProximaNova;
  font-weight: 300;
  font-size: 18px;
  color: #1f1f1f;
  line-height: 30px;
  text-align: center;
  padding: 50px 0; }

.top {
  padding: 0; }
  .top .top__text-block {
    padding: 145px 0; }
    .top .top__text-block .sub_title {
      padding: 5px 0 30px;
      text-align: left; }
    .top .top__text-block .top__btns .main_btn:first-child {
      margin-right: 30px; }
  .top .top__animated-img {
    position: relative; }
    .top .top__animated-img .road {
      background: url("/images/bg_about.png");
      width: 279px;
      height: 616px;
      right: 0;
      position: absolute; }
    .top .top__animated-img .gears {
      background: url("/images/mecha.png");
      width: 393px;
      height: 393px;
      top: 113px;
      right: 83px;
      position: absolute;
      -webkit-animation-name: round1;
      -webkit-animation-duration: 15s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: round1;
      -moz-animation-duration: 15s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear; }
@keyframes round1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }
@-ms-keyframes round1 {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(-360deg); } }
@-moz-keyframes round1 {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes round1 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }
@keyframes round1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }
    .top .top__animated-img .globus {
      background: url("/images/globus.png");
      width: 358px;
      height: 344px;
      top: 113px;
      right: 83px;
      position: absolute; }
    .top .top__animated-img .lamp {
      background: url("/images/bg_mark.png");
      width: 187px;
      height: 295px;
      right: 175px;
      top: 180px;
      position: absolute; }
    .top .top__animated-img .light1 {
      width: 32px;
      height: 49px;
      position: absolute;
      left: 180px;
      top: 140px;
      background: url("/images/light1.png");
      animation-name: floating2;
      -webkit-animation-name: floating2;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-name: floating2;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating2 {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(15px, 15px); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating2 {
  0% {
    -webkit-transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(15px, 15px); }
  100% {
    -webkit-transform: translateY(0%); } }
    .top .top__animated-img .light2 {
      width: 32px;
      height: 49px;
      position: absolute;
      right: 145px;
      top: 140px;
      background: url("/images/light2.png");
      animation-name: floating3;
      -webkit-animation-name: floating3;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-name: floating3;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating3 {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(-15px, 15px); }
  100% {
    transform: translate(0%, 0%); } }
@-webkit-keyframes floating3 {
  0% {
    -webkit-transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(-15px, 15px); }
  100% {
    -webkit-transform: translateY(0%); } }
    .top .top__animated-img .light3 {
      width: 53px;
      height: 22px;
      position: absolute;
      right: 385px;
      top: 236px;
      background: url("/images/light3.png");
      animation-name: floating4;
      -webkit-animation-name: floating4;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-name: floating4;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating4 {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(15px); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes floating4 {
  0% {
    -webkit-transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(15px); }
  100% {
    -webkit-transform: translateX(0%); } }
    .top .top__animated-img .light4 {
      width: 49px;
      height: 22px;
      position: absolute;
      right: 100px;
      top: 236px;
      background: url("/images/light4.png");
      animation-name: floating5;
      -webkit-animation-name: floating5;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-name: floating5;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating5 {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(-15px); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes floating5 {
  0% {
    -webkit-transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0%); } }
    .top .top__animated-img .light5 {
      width: 46px;
      height: 35px;
      position: absolute;
      right: 120px;
      top: 315px;
      background: url("/images/light5.png");
      animation-name: floating6;
      -webkit-animation-name: floating6;
      -moz-animation-name: floating6;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating6 {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(-10px, -15px); }
  100% {
    transform: translate(0%, 0%); } }
@-webkit-keyframes floating6 {
  0% {
    -webkit-transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(-10px, -15px); }
  100% {
    -webkit-transform: translate(0%, 0%); } }
    .top .top__animated-img .light6 {
      width: 46px;
      height: 35px;
      position: absolute;
      left: 155px;
      top: 315px;
      background: url("/images/light6.png");
      animation-name: floating7;
      -webkit-animation-name: floating7;
      -moz-animation-name: floating7;
      animation-timing-function: ease;
      -moz-animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating7 {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(10px, -15px); }
  100% {
    transform: translate(0%, 0%); } }
@-webkit-keyframes floating7 {
  0% {
    -webkit-transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(10px, -15px); }
  100% {
    -webkit-transform: translateY(0%); } }
    .top .top__animated-img .m_cloud1 {
      width: 91px;
      height: 87px;
      background: url("/images/m_cloud1.png");
      right: -40px;
      top: 250px;
      position: absolute;
      animation-name: floating;
      -webkit-animation-name: floating;
      -moz-animation-name: floating;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
    .top .top__animated-img .m_cloud2 {
      width: 87px;
      height: 42px;
      background: url("/images/m_cloud2.png");
      right: 400px;
      top: 390px;
      position: absolute;
      animation-delay: 1s;
      animation-name: floating;
      -webkit-animation-name: floating;
      -moz-animation-name: floating;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
    .top .top__animated-img .m_cloud3 {
      width: 74px;
      height: 40px;
      background: url("/images/m_cloud3.png");
      right: 236px;
      top: 90px;
      animation-name: floating;
      -webkit-animation-name: floating;
      -moz-animation-name: floating;
      -moz-animation-duration: 2.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease;
      position: absolute;
      animation-delay: 0.5s;
      animation-timing-function: ease;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
.ref-program {
  padding: 40px 0 45px; }
  .ref-program .ref-program__img-block {
    width: 470px;
    height: 250px; }
    .ref-program .ref-program__img-block img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .ref-program .ref-program__text-block {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .ref-program .ref-program__text-block .percents {
      display: flex;
      justify-content: center;
      align-items: center; }
      .ref-program .ref-program__text-block .percents span {
        font-family: Arvo;
        font-weight: 700;
        font-size: 60px;
        color: #1f1f1f;
        padding: 0 40px; }

.page {
  padding: 40px 0 20px; }
  .page p.main_title {
    text-align: center; }

.reviews .reviews_reviews-items-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 25px; }
  .reviews .reviews_reviews-items-block .reviews_reviews-item {
    width: 570px;
    display: flex;
    flex-direction: column;
    margin-right: 30px; }
    .reviews .reviews_reviews-items-block .reviews_reviews-item .reviews_reviews-item-header {
      display: inline-flex;
      align-items: center; }
      .reviews .reviews_reviews-items-block .reviews_reviews-item .reviews_reviews-item-header img {
        width: 70px;
        height: 70px;
        margin-right: 30px; }
      .reviews .reviews_reviews-items-block .reviews_reviews-item .reviews_reviews-item-header span {
        font-family: Arvo;
        font-weight: 700;
        font-size: 22px;
        color: #1f1f1f; }
    .reviews .reviews_reviews-items-block .reviews_reviews-item p {
      font-size: 18px;
      color: #1f1f1f;
      line-height: 30px;
      padding-left: 100px; }
    .reviews .reviews_reviews-items-block .reviews_reviews-item:nth-child(2n) {
      margin-right: 0; }
.reviews .reviews__form {
  padding: 0 55px 30px;
  text-align: center;
  margin: 40px 0; }
  .reviews .reviews__form textarea {
    width: 100%;
    text-transform: none;
    height: 200px;
    margin: 30px 0; }

.support .support__text-block {
  margin: 60px 0 25px; }
  .support .support__text-block img {
    width: 525px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover; }
  .support .support__text-block .support__social {
    display: flex; }
    .support .support__text-block .support__social a {
      display: inline-flex;
      margin-right: 30px;
      opacity: 0.7; }
      .support .support__text-block .support__social a svg {
        width: 30px;
        height: 30px;
        fill: #d73232; }
      .support .support__text-block .support__social a:last-child {
        margin-right: 0; }
      .support .support__text-block .support__social a:hover {
        opacity: 1; }
.support .support__form {
  padding: 30px 70px 40px;
  margin: 60px 0 25px;
  text-align: center; }
  .support .support__form .support__input-block {
    text-align: left; }
    .support .support__form .support__input-block p {
      font-size: 18px;
      color: #1f1f1f;
      padding: 20px 0; }
    .support .support__form .support__input-block input {
      width: 100%; }
    .support .support__form .support__input-block textarea {
      height: 80px;
      width: 100%; }

.login {
  padding: 0 0 10px; }
  .login .login__form {
    padding: 30px 70px 40px;
    margin: 60px auto 25px;
    text-align: center;
    width: 450px; }
    .login .login__form .login__input-block {
      text-align: left; }
      .login .login__form .login__input-block p {
        font-size: 18px;
        color: #1f1f1f;
        padding: 20px 0; }
      .login .login__form .login__input-block input {
        width: 100%; }
      .login .login__form .login__input-block input[type='checkbox'] {
        width: 13px;
        height: 13px;
        margin: 0 10px 0 0; }
      .login .login__form .login__input-block label {
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center; }
        .login .login__form .login__input-block label span {
          font-size: 16px; }
        .login .login__form .login__input-block label a {
          font-size: 16px;
          color: #d73232;
          position: relative;
          padding: 5px 0 5px;
          margin-left: 7px; }
          .login .login__form .login__input-block label a:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #d73232; }
          .login .login__form .login__input-block label a:hover {
            opacity: 0.7; }
    .login .login__form .login__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px; }
      .login .login__form .login__btns a {
        font-size: 18px;
        color: #d73232;
        position: relative;
        padding: 5px 0; }
        .login .login__form .login__btns a:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #d73232; }
        .login .login__form .login__btns a:hover {
          opacity: 0.7; }

.user-header {
  background-color: #ff4b4b; }
  .user-header .menu a {
    color: #ffffff; }
    .user-header .menu a:after {
      background-color: #ffffff; }
  .user-header .user-header__user-info {
    display: flex;
    margin: 35px 0 0; }
    .user-header .user-header__user-info .user-header__user-img img {
      width: 70px;
      height: 70px; }
    .user-header .user-header__user-info .user-header__user-text {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 30px; }
      .user-header .user-header__user-info .user-header__user-text p {
        font-family: Arvo;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff; }
      .user-header .user-header__user-info .user-header__user-text .main_btn {
        align-self: flex-start; }

.content.user {
  background-color: #f2f2f2; }

.inner-page {
  display: flex;
  justify-content: space-between; }
  .inner-page .inner-page__left-menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    margin-top: 55px; }
    .inner-page .inner-page__left-menu a {
      background-color: transparent;
      position: relative;
      z-index: 0; }
      .inner-page .inner-page__left-menu a:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        z-index: 1;
        background-color: #ff4b4b;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .inner-page .inner-page__left-menu a:hover::after, .inner-page .inner-page__left-menu a.active:after {
        width: 100%; }
      .inner-page .inner-page__left-menu a b {
        font-family: Arvo;
        font-weight: 700;
        font-size: 18px;
        color: #1f1f1f;
        position: relative;
        z-index: 2;
        padding: 14px 15px;
        display: flex;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all; }
        .inner-page .inner-page__left-menu a b:hover {
          color: #ffffff; }
      .inner-page .inner-page__left-menu a.active b {
        color: #ffffff; }
  .inner-page .inner-page__right-side {
    width: 870px; }
    .inner-page .inner-page__right-side .inner-page__right-side_one-block {
      background-color: #ffffff;
      padding: 5px 70px 40px;
      margin: 40px 0; }
      .inner-page .inner-page__right-side .inner-page__right-side_one-block:hover {
        -webkit-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 38px 7px rgba(0, 0, 0, 0.2); }
      .inner-page .inner-page__right-side .inner-page__right-side_one-block:first-child {
        margin-top: -105px;
        min-height: 530px; }
    .inner-page .inner-page__right-side .profile-statistics-block .profile-stat {
      display: flex;
      justify-content: space-between;
      padding: 25px 0; }
      .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center; }
        .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item .profile-stat-item_img {
          width: 70px;
          height: 70px; }
          .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item .profile-stat-item_img img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
        .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item p {
          font-family: Arvo;
          font-weight: 700;
          font-size: 24px;
          color: #1f1f1f;
          padding: 7px 0; }
          .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item p svg {
            width: 14px;
            height: 18px;
            fill: #1f1f1f; }
        .inner-page .inner-page__right-side .profile-statistics-block .profile-stat .profile-stat-item span {
          font-size: 16px;
          color: #1f1f1f;
          text-transform: uppercase; }
    .inner-page .inner-page__right-side .ref {
      padding: 15px 0 0; }
      .inner-page .inner-page__right-side .ref .profile-ref-block {
        padding: 20px 30px 0; }
        .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info {
          display: flex;
          justify-content: space-between;
          padding: 10px 0; }
          .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%; }
            .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link:last-child {
              width: 40%; }
            .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link p {
              font-size: 16px;
              color: #1f1f1f;
              padding: 0 0 15px 0; }
            .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link input {
              font-size: 18px;
              color: #1f1f1f;
              padding: 7px 10px;
              background-color: #f2f2f2;
              border: 0;
              text-transform: none;
              font-family: OpenSans;
              font-weight: 300;
              width: 90%; }
            .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link b {
              font-family: Arvo;
              font-weight: 700;
              font-size: 24px;
              color: #1f1f1f; }
              .inner-page .inner-page__right-side .ref .profile-ref-block .profile-ref-block_ref-info .ref-link b svg.currency {
                width: 15px;
                height: 18px;
                fill: #1f1f1f; }
    .inner-page .inner-page__right-side .pay-req .pay-req__items {
      padding: 20px 0 0; }
      .inner-page .inner-page__right-side .pay-req .pay-req__items .pay-req__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0; }
        .inner-page .inner-page__right-side .pay-req .pay-req__items .pay-req__item:last-child {
          margin-bottom: 0; }
        .inner-page .inner-page__right-side .pay-req .pay-req__items .pay-req__item .svg-block {
          width: 300px;
          text-align: center; }
          .inner-page .inner-page__right-side .pay-req .pay-req__items .pay-req__item .svg-block svg {
            width: 140px;
            height: 50px; }
        .inner-page .inner-page__right-side .pay-req .pay-req__items .pay-req__item b {
          font-size: 18px;
          color: #1f1f1f;
          padding: 7px 10px;
          background-color: #f2f2f2;
          width: 450px; }
    .inner-page .inner-page__right-side .plan-calc__block {
      display: flex;
      flex-direction: column; }
    .inner-page .inner-page__right-side .plan-calc__plan-info {
      display: flex;
      justify-content: center;
      padding: 40px 0; }
    .inner-page .inner-page__right-side .plan-calc__plan-info_img {
      width: 170px;
      height: 112px;
      margin-right: 30px; }
      .inner-page .inner-page__right-side .plan-calc__plan-info_img img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover; }
    .inner-page .inner-page__right-side .plan-calc__plan-info_text {
      display: inline-flex;
      flex-direction: column;
      align-items: center; }
      .inner-page .inner-page__right-side .plan-calc__plan-info_text p {
        font-family: Arvo;
        font-weight: 700;
        font-size: 36px;
        color: #1f1f1f; }
      .inner-page .inner-page__right-side .plan-calc__plan-info_text span {
        font-size: 18px;
        color: #1f1f1f;
        line-height: 30px; }
        .inner-page .inner-page__right-side .plan-calc__plan-info_text span svg.currency {
          width: 11px;
          height: 14px;
          fill: #1f1f1f; }
    .inner-page .inner-page__right-side .plan-calc__inputs {
      display: flex;
      justify-content: center;
      padding: 35px 0; }
      .inner-page .inner-page__right-side .plan-calc__inputs .input_block p {
        font-size: 18px;
        color: #1f1f1f;
        line-height: 30px;
        padding-bottom: 15px; }
      .inner-page .inner-page__right-side .plan-calc__inputs .input_block:first-child {
        margin-right: 30px; }
    .inner-page .inner-page__right-side .plan-calc__invest {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 30px 0 0; }
      .inner-page .inner-page__right-side .plan-calc__invest .input_block p {
        font-size: 18px;
        color: #1f1f1f;
        line-height: 30px;
        padding-bottom: 15px; }
      .inner-page .inner-page__right-side .plan-calc__invest .input_block select {
        width: 100%; }
    .inner-page .inner-page__right-side .history-table {
      padding: 20px 0 0; }
      .inner-page .inner-page__right-side .history-table .history-table__tr {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .inner-page .inner-page__right-side .history-table .history-table__tr.no_rows {
          justify-content: center;
          font-size: 16px;
          color: red;
          padding: 15px 0; }
        .inner-page .inner-page__right-side .history-table .history-table__tr.referals {
          justify-content: center;
          font-size: 16px;
          color: #1f1f1f;
          padding: 5px 0;
          margin: 10px 0;
          background-color: #f3efef; }
      .inner-page .inner-page__right-side .history-table .history-table__td {
        width: 130px;
        padding: 6px 0; }
        .inner-page .inner-page__right-side .history-table .history-table__td p {
          font-family: Arvo;
          font-weight: 700;
          font-size: 18px;
          color: #1f1f1f;
          text-align: center; }
        .inner-page .inner-page__right-side .history-table .history-table__td span {
          font-size: 16px;
          color: #1f1f1f;
          text-align: center;
          display: block; }
          .inner-page .inner-page__right-side .history-table .history-table__td span svg.currency {
            width: 10px;
            height: 12px;
            fill: #1f1f1f; }
        .inner-page .inner-page__right-side .history-table .history-table__td svg {
          width: 130px;
          height: 40px; }
    .inner-page .inner-page__right-side .history .show-more_lower-btn {
      display: flex;
      justify-content: center;
      margin-top: 30px; }
    .inner-page .inner-page__right-side .history .history-reinvest {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 30px 0; }
      .inner-page .inner-page__right-side .history .history-reinvest .input_block {
        width: 48%; }
        .inner-page .inner-page__right-side .history .history-reinvest .input_block select,
        .inner-page .inner-page__right-side .history .history-reinvest .input_block input {
          width: 100%; }
        .inner-page .inner-page__right-side .history .history-reinvest .input_block input[type='submit'] {
          width: auto; }
        .inner-page .inner-page__right-side .history .history-reinvest .input_block p {
          font-size: 18px;
          color: #1f1f1f;
          line-height: 30px;
          padding-bottom: 15px; }
        .inner-page .inner-page__right-side .history .history-reinvest .input_block:nth-child(1), .inner-page .inner-page__right-side .history .history-reinvest .input_block:nth-child(2) {
          margin-bottom: 15px; }
    .inner-page .inner-page__right-side .payment__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 30px 0 0; }
      .inner-page .inner-page__right-side .payment__form .input_block {
        width: 260px; }
        .inner-page .inner-page__right-side .payment__form .input_block select,
        .inner-page .inner-page__right-side .payment__form .input_block input {
          width: 100%; }
        .inner-page .inner-page__right-side .payment__form .input_block input[type='submit'] {
          width: auto; }
        .inner-page .inner-page__right-side .payment__form .input_block p {
          font-size: 18px;
          color: #1f1f1f;
          line-height: 30px;
          padding-bottom: 15px;
          margin-right: 30px; }
    .inner-page .inner-page__right-side .referal-program .referal-program__stat {
      display: flex;
      justify-content: space-between;
      padding: 40px 0 0; }
      .inner-page .inner-page__right-side .referal-program .referal-program__stat .referal-program__stat-item {
        display: inline-flex;
        flex-direction: column;
        width: 150px; }
        .inner-page .inner-page__right-side .referal-program .referal-program__stat .referal-program__stat-item span {
          font-size: 16px;
          color: #1f1f1f;
          padding-bottom: 15px; }
        .inner-page .inner-page__right-side .referal-program .referal-program__stat .referal-program__stat-item p {
          font-family: Arvo;
          font-weight: 700;
          font-size: 28px;
          color: #1f1f1f; }
          .inner-page .inner-page__right-side .referal-program .referal-program__stat .referal-program__stat-item p svg.currency {
            width: 17px;
            height: 22px;
            fill: #1f1f1f; }
    .inner-page .inner-page__right-side .banners {
      text-align: center; }
      .inner-page .inner-page__right-side .banners-block {
        margin: 40px auto 0; }
    .inner-page .inner-page__right-side .settings {
      width: 470px;
      margin: 0 auto; }
      .inner-page .inner-page__right-side .settings__personal-block {
        display: flex;
        flex-direction: column;
        padding: 30px 0 0; }
        .inner-page .inner-page__right-side .settings__personal-block .input_block {
          padding-bottom: 15px; }
          .inner-page .inner-page__right-side .settings__personal-block .input_block input {
            width: 100%; }
          .inner-page .inner-page__right-side .settings__personal-block .input_block input[type='submit'] {
            width: auto;
            margin: 30px auto 0; }
          .inner-page .inner-page__right-side .settings__personal-block .input_block:last-child {
            text-align: center; }
          .inner-page .inner-page__right-side .settings__personal-block .input_block p {
            font-size: 18px;
            color: #1f1f1f;
            line-height: 30px;
            padding-bottom: 15px;
            margin-right: 30px; }
      .inner-page .inner-page__right-side .settings-ps .settings-ps__block {
        display: flex;
        flex-direction: column;
        padding: 25px 0 0; }
        .inner-page .inner-page__right-side .settings-ps .settings-ps__block .input_block {
          margin: 15px 0;
          display: flex;
          align-items: center; }
          .inner-page .inner-page__right-side .settings-ps .settings-ps__block .input_block .img_block {
            background-color: #ff4b4b;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 6.5px 0; }
            .inner-page .inner-page__right-side .settings-ps .settings-ps__block .input_block .img_block svg {
              width: 100px;
              height: 30px;
              fill: #ffffff; }
          .inner-page .inner-page__right-side .settings-ps .settings-ps__block .input_block input {
            width: 100%; }
          .inner-page .inner-page__right-side .settings-ps .settings-ps__block .input_block input[type='submit'] {
            width: auto;
            margin: 30px auto 0; }

/*# sourceMappingURL=style.css.map */
